.navbar{
  background-color: transparent;
  border-bottom: none;
  transition: background-color 0.3s ease, border-bottom 0.3s ease;
}

.sticky{
  background-color: black;
  border-bottom: 1 px solid #454545;
}